<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/UniVerify/static/css/admin.css" />
</head>
<body>
  <!-- Navbar -->
  <header>
    <div>
      <img src="/UniVerify/static/img/FOCOSA_LOGO-removebg-preview.png" alt="Faculty Logo" />
      <span class="header-title">Faculty Admin Dashboard</span>
    </div>
    <button class="logout-btn">Logout</button>
  </header>

  <!-- Main Container -->
  <div class="content">
    <nav>
      <a href="#">Dashboard</a>
      <a href="#">Requests</a>
      <a href="#">Users</a>
      <a href="#">Settings</a>
    </nav>

    <!-- Main Content -->
    <main>
      <h2>Pending Requests</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Reg NO</th>
          <th>Department</th>
          <th>Image</th>
          <th> Request</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>1</td>
          <td>John Doe</td>
          <td> 24/SC/CO/357 </td>
          <td> Computer Science </td>
          <td><button class="image">View</button></td>
          <td>Pending</td>
          <td>
            <button class="approve">Approve</button>
            <button class="decline">Decline</button>
            <button class="delete">Delete</button>
          </td>
        </tr>
       
      </table>
    </main>
  </div>

  <!-- Footer -->
  <footer>
    © 2025 Faculty of Computer Science. All rights reserved. <br>
    Terms of service. <br> Privacy policy
  </footer>
</body>
</html>
